@{
    ViewBag.Title = "My Results";
}
@model List<projectWork.Models.CoursesDTO>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Result - Questionnaire</title>
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/MainPage/lib/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Oswald:400,300,700|Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Quiz.css")">
    <link rel="stylesheet" type="text/css" href="~/Content/MainPage/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MainPage/css/themes/flat-blue.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content("~/Main/Home")" style="font-family: 'Poiret One', cursive; font-size: 32px;">
                    <div class="icon"></div>
                    <div class="title" style="color:white;">Questionnaire</div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse " aria-expanded="true">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">My Results</a></li>
                    <li><a href="@Url.Content("~/OutsiderStudent/Home")">Home</a></li>
                    <li><a href="@Url.Content("~/OutsiderStudent/Logout")">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="row" style="color:black; align-content:center; margin-top:80px">
            <h2>My Result</h2>
        </div>
        <div class="row">
            <div class="col-md-12 box-area">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Course Name</td>
                            <td>isTaken</td>
                            <td>Marks Obt.</td>
                            <td>Grade</td>
                        </tr>
                    </thead>
                    <tbody id="tblUsers">
                        @{
                            if (Model.Count() > 0)
                            {
                                foreach (var q in Model)
                                {
                                    <tr>
                                        <td>
                                            @q.CourseName
                                        </td>
                                        <td>
                                            @q.isTaken
                                        </td>
                                        <td>
                                            @q.ObtainedMarks
                                        </td>
                                        <td>
                                            @q.grade
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <h3 style="color:red">You have No Result to Show</h3>
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <footer class="navbar-fixed-bottom">
        <div class="container">

            Copyright&copy; by <a>Questionnaire</a>. All rights reserved.

        </div>
    </footer>


    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
</body>
</html>